
.ourTeamSectionMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.8vw;

  .cont {
    display: flex;
    align-items: center;
    gap: 11.8vw;

    .left {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 74.512534819%;
        height: 69.040247678%;
        background-color: #ee5633;
        border-bottom-right-radius: 10vw;
        right: -14.2061281341%;
        bottom: -14.39628483%;
      }
      img {
        position: inherit;
        object-fit: cover;
        width: 37.40vw;
        aspect-ratio: 1.111455108;
        border-bottom-right-radius: 10vw;
        z-index: 1;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      width: 33.40vw;
      align-items: center;
      gap: 4.58vw;
      .text {
        color: #2c2c2c;
        font-size: 1vw;
        text-align: center;
      }
      .details {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 6.572917vw;
        margin: 0 3.59375vw;
        align-items: flex-start;
        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .icon {
            width: 5.833333333vw;
            height: 5.833333333vw;
            background-color: #feefe2;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-left-radius: 3vw;

            img {
              object-fit: cover;
              //width: 3.177083333vw;
              //aspect-ratio: 1.12962963;
            }
          }

          span {
            color: #2c2c2c;
            text-align: center;
            font-size: 1vw;

            &.value {
              font-size: 1.5vw;
              font-family: 'Poppins-Bold', sans-serif;
              margin: 1vw 0 0 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ourTeamSectionMainContainer {
    gap: max(8.8vw, 50px);

    .cont {
      width: 100%;
      flex-direction: column;
      gap: max(11.8vw, 80px);

      .left {
        width: min(75%, 375px);
        aspect-ratio: 1.111455108;

        img {
          border-bottom-right-radius: 60px;
          width: 100%;
        }
        &:after {
          border-bottom-right-radius: 60px;
        }
      }

      .right {
        width: 100%;
        gap: max(4.58vw, 25px);
        .text {
          width: 90%;
          font-size: max(1vw, 12px);
        }

        .details {
          width: min(90%, 375px);
          .item {
            .icon {
              width: max(5.833333333vw, 100px);
              height: max(5.833333333vw, 100px);
              border-top-left-radius: max(3vw, 50px);
              img {
                width: max(3.177083333vw, 68px);
              }
            }

            span {
              font-size: max(1vw, 12px);
              &.value {
                font-size: max(1.5vw, 14px);
              }
            }
          }
        }
      }
    }
  }
}