
.ourValuesSectionMainContainer {
  width: 100%;
  aspect-ratio: 1.690140845;
  background-image: url('/src/assets/images/grayBackground.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5vw 0;
  gap: 3.4vw;

  .description {
    color: #2c2c2c;
    text-align: center;
    max-width: 48vw;
    font-size: max(1vw, 12px);
  }
  .cardsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;

    .card {
      background-color: #ffffff;
      width: 27.39vw;
      aspect-ratio: 1.237647059;
      border-radius: 1vw;
      padding: 1.77vw;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;

      &:hover {
        &:after {
          width: 35.939211391%; // 189;
          height: 36.478355496%; // 155;
        }
      }

      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        background-color: #F77C12;
        opacity: 10%;
        border-bottom-right-radius: 10.416666667vw;
        border-top-left-radius: 1vw;
        transition: width ease-in-out .3s, height ease-in-out .3s;
      }

      img {
        object-fit: contain;
        width: 3.48vw;
        height: 3.48vw;
        margin-bottom: 3.8vw;
      }

      span {
        font-size: 1vw;
        color: #2c2c2c;
        &.title {
          font-size: 1.25vw;
          font-family: 'Poppins-Bold', sans-serif;
          margin-bottom: 1vw;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ourValuesSectionMainContainer {
    aspect-ratio: unset;
    gap: max(3.4vw, 35px);
    .description {
      max-width: 90%;
    }
    .cardsContainer {
      flex-direction: column;
      gap: max(1.5vw, 20px);

      .card {
        width: min(375px, 90%);
        aspect-ratio: unset;
        padding: max(1.77vw, 15px);

        &:hover {
          &:after {
            height: 45.478355%;
            border-bottom-right-radius: 100%;
          }
        }
        img {
          width: max(3.48vw, 60px);
          height: max(3.48vw, 60px);
          margin-bottom: max(3.8vw, 50px);
        }

        span {
          font-size: max(1vw, 12px);

          &.title {
            font-size: max(1.25vw, 14px);
            margin-bottom: max(1vw, 12px);
          }
        }
      }
    }
  }
}