
.inputContainer {
  position: relative;
  width: 100%;
  .label {
    font-size: 16px;
    color: #2c2c2c;
    position: absolute;
    top: 15px;
    left: 10px;
    transition: all ease-in-out .1s;

    &.focused {
      top: -10px;
      font-size: 12px;

      &.true {
        top: -15px;
      }
    }
  }
  &:after {
    content: '';
    position: absolute;
    background-color: #E3E3E3;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  textarea {
    resize: vertical;
    min-height: 60px;
  }
  input, textarea {
    border: unset;
    outline: unset;
    width: 100%;
    padding: 10px;
  }
}