
.ourOfferSectionMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 11.35vw;

  .cardsContainer {
    width: 100%;
    margin-top: 5.67vw;
    background-color: #2c2c2c;
    padding: 4.11vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.03125vw;
    row-gap: 2.135416667vw;

    .cardItem {
      background-color: #ffffff;
      border-radius: 1vw;
      padding: 1.77vw;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: background-color ease-in-out .3s;

      .techStackTitle {
        font-size: max(1.25vw, 14px);
        margin: 1vw 0;
        color: #f67814 !important;
        font-family: 'Poppins-Bold', sans-serif;
      }

      .techStack {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        span {
          font-size: max(1vw, 12px);
          background-color: #f5f5f5;
          border-radius: 4px;
          padding: 5px 10px;
          color: #2c2c2c !important;
        }
      }

      &:hover {
        background-color: #414141;
        span {
          color: #ffffff;
        }
      }

      span {
        font-size: 1vw;
        color: #2c2c2c;
        transition: color ease-in-out .3s;


        img {
          object-fit: contain;
          width: 2.48vw;
          height: 2.48vw;
        }
        &.icon {
          margin-bottom: 3.8vw;
          width: 4.84375vw;
          aspect-ratio: 1.107142857;
          background-color: rgba(246,120,20,0.1411764705882353 );
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 1vw;
        }
        &.title {
          font-size: 1.25vw;
          font-family: 'Poppins-Bold', sans-serif;
          margin-bottom: 1vw;
        }
      }
    }
    .weOffer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 3.395833vw;
      position: relative;
      span {
        font-size: 3vw;
        color: #ffffff;

        &.shaped {
          color: #f77c12;
          z-index: 9;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            background-color: #525252;
            width: 21%;
            height: 77%;
            border-top-left-radius: 100%;
            top: 5%;
            left: -8%;
            z-index: -1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ourOfferSectionMainContainer {
    .cardsContainer {
      grid-template-columns: 1fr;
      margin-top: max(5.67vw, 35px);

      .weOffer {
        //grid-column: 1/3;
        &:before {
          width: max(4.166666667vw, 21px);
          height: max(4.166666667vw, 21px);
          top: 4vw;
          left: 1.2vw;
        }
        span {
          font-size: max(3vw, 18px);

          &.shaped {
            //&:before {
            //  width: 33px;
            //  height: 33px;
            //  top: -3px;
            //  left: -15px;
            //}
          }
        }
      }
      .cardItem {
        padding: max(1.77vw, 15px);
        span {
          font-size: max(1vw, 12px);

          &.icon {
            width: max(3.48vw, 100px);
            height: max(3.48vw, 100px);
            margin-bottom: max(3.8vw, 34px);

            img {
              width: max(3.48vw, 60px);
              height: max(3.48vw, 60px);
            }
          }

          &.title {
            font-size: max(1.25vw, 14px);
            margin-bottom: max(1vw, 12px);
          }
        }
      }
    }
  }
}