
.contactUsSectionMainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10.104166667vw;
  margin-bottom: max(2vw, 35px);

  .hintMessage {
    position: fixed;
    top: 100px;
    right: -200px;
    background-color: #f77c12;
    color: #ffffff;
    transition: right ease-in-out .3s;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    z-index: 999999;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

    &.true {
      right: 20px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    gap: 11.09375vw;

    .right {
      width: 32.447916667vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.125vw;

      button {
        margin-top: 35px;
        background-color: #f67814;
        border: unset;
        width: 19.27vw;
        color: #ffffff;
        padding: 1vw 0;
        border-radius: .5vw;
        cursor: pointer;
      }
    }

    .left {
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 88.75%;
        height: 93.56%;
        border-top-right-radius: 10vw;
        top: -13.79%;
        right: -14.015%;
        background-color: #f77c12;
      }
      img {
        z-index: 9;
        position: inherit;
        object-fit: cover;
        width: 34.7vw;
        aspect-ratio: 1.263257576;
        border-bottom-left-radius: 10vw;
      }
    }
  }

  .contactListCont {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: max(7.135416667vw, 30px);
    padding: 0 5%;
    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      span {
        font-size: max(1vw, 12px);
        text-align: center;
        width: 15.85vw;
        &.title {
          font-family: 'Poppins-Bold', sans-serif;
          font-size: max(1.5vw, 16px);
          position: relative;
          width: fit-content;
          &.mail {
            &:after {
              left: -30%;
            }
          }
          &:after {
            content: "";
            z-index: -1;
            position: absolute;
            height: 100%;
            aspect-ratio: 1;
            background-color: #e8e8e8;
            left: -15%;
            border-top-left-radius: 50%;
          }
        }
      }

    }
  }
}

@media screen and (max-width: 768px) {
  .contactUsSectionMainContainer {
    gap: max(10.104166667vw, 65px);
    .container {
      flex-direction: column;

      .right {
        width: min(375px, 90%);
        gap: max(2.125vw, 16px);
        button {
          width: max(19.27vw, 200px);
          border-radius: 5px;
        }
      }

      .left {
        width: min(375px, 70%);
        aspect-ratio: 1.263257576;

        img {
          width: 100%;
          border-bottom-left-radius: 60px;
        }

        &:before {
          border-top-right-radius: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {

  .contactUsSectionMainContainer {
    .contactListCont {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      .contact {
        span {
          width: unset;
        }
      }
    }
  }

}