@font-face {
  font-family: "Poppins-Thin";
  src: url(/src/assets/fonts/Poppins/Poppins-Thin.ttf) format('truetype');
}

@font-face {
  font-family: "Poppins-Medium";
  src: url(/src/assets/fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url(/src/assets/fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(/src/assets/fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}