
.navbarMainContainer {
  width: 100%;
  height: max(5vw, 60px);
  padding: 0 7.291667%;
  display: flex;
  align-items: center;
  gap: 10%;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 9999;
  transition: box-shadow ease-in-out .3s;

  &.shadowed {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }

  img {
    width: max(7vw, 65px);
    aspect-ratio: 1.954022989;
    object-fit: contain;
  }

  .burgerIcon {
    display: none;
  }

  .linksContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3%;
    position: relative;

    .indicator {
      content: '';
      position: absolute;
      left: -1.5vw;
      top: 0;
      width: 1.25vw;
      height: 1.25vw;
      background-color: #ee5633;
      border-top-left-radius: 100%;
      transition: left .2s, top .2s;
      z-index: -1;
    }

    .link {
      font-size: max(1vw, 12px);
      text-decoration: unset;
      cursor: pointer;
      color: #2C2C2C;
      white-space: nowrap;
      font-weight: inherit;
      transition: font-weight .05s;

      &.true {
        font-weight: bold;
      }

      //&.true:after {
      //  content: '';
      //  position: absolute;
      //  left: -1.5vw;
      //  top: 0;
      //  width: 1.25vw;
      //  height: 1.25vw;
      //  background-color: #ee5633;
      //  border-top-left-radius: 100%;
      //}
    }
  }
}

@media screen and (max-width: 768px) {
  .navbarMainContainer {
    justify-content: space-between;
    padding: 0 0 0 4.29%;
    .linksContainer {
      position: fixed;
      right: -40vw;
      top: max(5vw, 60px);
      z-index: 9999;
      width: 40vw;
      height: calc(100vh - max(5vw, 60px));
      flex-direction: column;
      transition: right ease-in-out .3s;
      background-color: #ffffff;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 20px;

      .indicator {
        left: 1px;
        top: 2px;
        width: max(1.25vw, 12px);
        height: max(1.25vw, 12px);
      }

      .link {
        margin-bottom: 4vh;
        white-space: break-spaces;
        &:first-child {
          margin-top: 4vh;
        }
      }

      &.true {
        right: 0;
        box-shadow: -2px 2px 4px 0 rgb(0 0 0 / 20%);
      }
    }
    .burgerIcon {
      cursor: pointer;
      display: block;
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbarMainContainer {
    padding: 0 0 0 3.291667%;
    gap: 8%;
  }
}