

.whoAreWeSectionMainContainer {
  width: 100%;
  margin: 40px 0;
  padding: 0 6.6%;
  gap: 2vw;
  display: flex;
  flex-direction: column;

  .titleWithShapes {
    margin-left: 8vw;
  }

  .CCOONNTT {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 6vw;

    .rightSideContainer {
      position: relative;
      img {
        aspect-ratio: 1.00456621;
        width: 34.375vw;
        position: inherit;
        z-index: 99;
        object-fit: cover;
        border-top-left-radius: 10vw;
      }
      &:after {
        content: '';
        display: block;
        background-color: #f67814;
        width: 54.3939394%;
        height: 99%;
        position: absolute;
        top: -6.0882801%;
        left: -14.5454545%;
        border-bottom-left-radius: 10vw;
      }
    }
    .leftSideContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 4vw;
      gap: 8.2vw;
      margin-top: 5%;

      .details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 2.3vw;
        width: 91%;

        span {
          color: #2c2c2c;
          font-size: 1vw;
          &:first-child {
            font-size: max(2.5vw, 18px);
            font-family: 'Poppins-Medium', sans-serif;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .whoAreWeSectionMainContainer {
    padding: 0;
    .CCOONNTT {
      flex-direction: column;
      align-items: center;
      gap: 63px;
      .leftSideContainer {
        align-items: center;
        gap: 35px;
        max-width: 94%;

        .details {
          span {
            font-size: max(1vw, 12px);
          }
        }
      }
      .rightSideContainer {
        width: min(70%, 375px);
        aspect-ratio: 1.00456621;
        img {
          width: 100%;
        }
        &:after {
          border-bottom-left-radius: 90px;
        }
      }
    }
  }
}