
.footerMainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3.854166667vw 5.572916667vw 14px 5.572916667vw;
  background-color: #393939;
  gap: 4.416666667vw;

  span {
    color: #fff;
    font-size: max(1vw, 12px);
    -webkit-touch-callout: unset;
    -webkit-user-select: unset;
    -khtml-user-select: unset;
    -moz-user-select: unset;
    -ms-user-select: unset;
    user-select: unset;
    text-align: center;

    a {
      color: #fff;
      font-size: max(1vw, 12px);
      text-align: center;
    }
  }

  .contactList  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .nosContact {
      position: relative;
      display: block;
      z-index: 999;
      &:before  {
        z-index: -1;
        content: '';
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
        border-top-left-radius: 50%;
        background-color: #525252;
        left: -12px;
        top: -2px;
      }
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 89.114583333vw;
    height: 1px;
    background-color: #a2a2a2;
    bottom: 53px;
    left: 5.572916667vw;
  }

  .invLogo {
    width: 8.854166667vw;
    aspect-ratio: 1.954022989;
    object-fit: contain;
  }

  .contactContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      color: #ffffff;
      font-size: 1vw;
    }

    .logos {
      display: flex;
      align-items: center;

      span {
        margin-right: 1.510416667vw;
      }

      img {
        width: 2.5vw;
        height: 2.5vw;
        object-fit: contain;
        margin-right: 0.520833333vw;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footerMainContainer {
    gap: max(5.416666667vw, 30px);
    padding: 15px 4.29%;

    .invLogo {
      width: max(8.854166667vw, 65px);
    }

    .contactContainer {
      span {
        font-size: max(1vw, 12px);
      }

      .logos {
        img {
          width: max(2.5vw, 24px);
          height: max(2.5vw, 24px);
          margin-left: 10px;
        }
      }
    }

    &:after {
      width: 90%;
      left: 5%;
    }
  }
}