
.ourSectorSectionMainContainer {
  width: 100%;
  //aspect-ratio: 1.690140845;
  //background-image: url('/src/assets/images/grayBackground.svg');
  //background-repeat: no-repeat;
  //background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.8vw 0 0 0;
  gap: 4.708333333vw;

  .horizontalShowcase {
    width: 100%;
    margin-bottom: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 50px;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
    img {
      width: max(14vw, 100px);
      height: 100%;
      object-fit: contain;
    }
  }

  .swiper {
    width: 100%;
    height: 200px;
    //margin-top: 128px;
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 15vw;
      max-height: 64px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: grayscale(1);
        transition: filter ease-in-out .15s;
        &:hover {
          filter: grayscale(0);
        }
      }

    }
  }



  .text1 {
    max-width: 56.71875vw;
    color: #2c2c2c;
    font-size: 2vw;
    text-align: center;
  }
  .text2 {
    max-width: 37.864583333vw;
    text-align: center;
    color: #2c2c2c;
    font-size: 1vw;
  }

  .cardsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5625vw;
    .card {
      width: 15.3125vw;
      aspect-ratio: 1.330316742;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-spacing: 1vw;
      gap: 1.875vw;
      box-shadow: 0 0 10px -6px grey;
      border-radius: max(0.5vw, 5px);
      position: relative;

      &:hover {
        &:after {
          width: 75.170068029%; // 221;
          height: 95.92760181%; // 212
        }
      }

      &:after {
        display: block;
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 0;
        left: 0;
        background-color: #F77C12;
        opacity: 10%;
        border-bottom-right-radius: 31.25vw;
        border-top-left-radius: max(0.5vw, 5px);
        transition: width ease-in-out .3s, height ease-in-out .3s;

      }

      img {
        object-fit: contain;
        width: 2.916666667vw;
        height: 2.760416667vw;
      }
      span {
        color: #2c2c2c;
        font-size: 1vw;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ourSectorSectionMainContainer {
    padding: unset;
    padding-top: 50px;

    gap: max(4.708333333vw, 45px);

    .swiper {
      //margin-top: 5vh;

      .swiper-slide {

        img {
          filter: grayscale(0);
        }
      }

    }

    .text1 {
      font-size: max(2vw, 14px);
      max-width: 90%;
    }

    .text2 {
      font-size: max(1vw, 12px);
      max-width: 90%;
    }

    .cardsContainer {
      width: min(375px, 90%);
      display: grid;
      grid-template-columns: 1fr 1fr;
      .card {
        width: 100%;

        img {
          width: max(2.916666667vw, 48px);
          height: max(2.916666667vw, 48px);
        }
        span {
          font-size: max(1vw, 12px);
        }
      }
    }
  }
}