::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #f77c12;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollContainer {
  height: calc(100vh - max(5vw, 60px));
  margin-top: max(5vw, 60px);
  overflow: auto;
  scroll-behavior: smooth;
  position: relative;

  .upArrow {
    position: fixed;
    z-index: 9998;
    bottom: 4vh;
    right: 6vw;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 6px 5px 4px 0 rgb(0 0 0 / 20%);
    opacity: 0;
    transition: opacity ease-in-out .5s;

    &.true {
      opacity: 1;
    }
  }

}

@media screen and (max-width: 768px) {
  .scrollContainer {
    .upArrow {
      //width: max(5.833333333vw, 48px);
      //height: max(5.833333333vw, 48px);
      //right: 7%;
      //top: -9%;
    }
  }
}