// Do not delete
// height: 0.44
// font: 0.52
//
@import "./assets/fonts/index";

body {
  margin: unset;
  padding: unset;
  background-color: #ffffff;
}

* {
  font-family: 'Poppins-Medium', sans-serif;
  font-size: 16px;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.titleWithShapes {
  position: relative;
  font-size: max(2.5vw, 18px);
  color: #474747;
  font-family: 'Poppins-Bold', sans-serif;

  &:after, &:before {
    content: '';
    position: absolute;
  }

  &:after {
    left: min(-5vw, -26px);
    top: min(-0.5vw, 3.5px);
    width: 4vw;
    min-width: 22px;
    aspect-ratio: 0.875;
    background-color: #2c2c2c;
    border-top-left-radius: 100%;
  }

  &:before {
    left: min(-5.5vw, -30px);
    top: min(-1vw, -7px);
    width: 3vw;
    min-width: 20px;
    border-top-left-radius: 100%;
    aspect-ratio: 0.871428571;
    background-color: #f77c12;
    z-index: 1;
  }
}
.rootShown {
  opacity: 1;
}
.rootHidden {
  opacity: 0;
}

.rootHidden, .rootShown {
  transition: opacity ease-in-out .5s;
}