
.welcomeSectionMainContainer {
  width: 100%;
  height: calc(100vw / 1.975308642);
  position: relative;

  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .descriptionContainer {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: max(6vw, 80px);
    gap: 2vw;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        font-family: 'Poppins-Bold', sans-serif;
        font-size: max(4vw, 22px);
        color: #ffffff;
        text-align: center;

        &:last-child {
          max-width: 80vw;
          font-size: max(3vw, 16px);
        }

        &:first-child {
          color: #f77c12;
        }
      }
    }

    .text {
      max-width: 53%;
      text-align: center;

      span {
        font-size: max(1.5vw, 12px);
        color: #ffffff;
        display: block;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .welcomeSectionMainContainer {
    height: max(50%, calc(100vw / 2.396185273));

    .backgroundImage {
      height: 100%;
      object-fit: cover;
    }

    .descriptionContainer {
      .title {
        span {
          &:last-child {
            max-width: 80%;
          }
        }
      }
      .text {
        max-width: 88%;
      }
    }
  }
}